@charset "UTF-8";

@media print {
    body {
        font-family: 'Courier New', Courier, monospace;
        color: black;
    }

    #Impressora {
        display: block;
    } 
    
    #Celular {
        display: none;
    }
    
    #Tablet {
        display: none;
    }
    
    #Desktop {
        display: none;
    }
    
    #Tv {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        background-image: url('../imagens/back-print.jpg');
    }
}
    