@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url('../imagens/back-phone.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;

    width: 90vw;
    max-width: 500px;

    border-radius: 10px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.443);
}

main > h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

#Celular {
    display: block;
}

#Tv, #Impressora, #Desktop, #Tablet {
    display: none;
}